# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Dataset folder
dataset/
trained_model

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Reports and PDFs
reports/
plant_disease_report.pdf

# Local environment files
*.env